.git
.github
.env
.env.*
!.env.example
!.env.production.example
node_modules
**/node_modules
.next
**/.next
dist
**/dist
.turbo
**/.turbo
logs
**/*.log
coverage
test-results
playwright-report
.DS_Store
